@import url("style.css");

body {
    background-color: #DDDDDD;
}

main {
    display: flex;
    flex-direction: row;
    margin-inline: 100px;
    align-items: center;
    height: 100vh;
}

.divtext-title {
    font: 80px "Newsreader", serif;
}

.divtext-paragraph {
    font: 28px "Newsreader", serif;
    width: 50%;
    margin-top: 12px;
    margin-left: 10px;
    line-height: 36px;
}

.divnnaccount {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    border-radius: 6px;
    width: 45%;
    box-shadow: -8px 20px 50px rgba(0, 0, 0, 0.25);
}

.divnnaccount-title {
    font: bold 30px "Newsreader", serif;
    color: #383E92;
    margin-bottom: 35px;
    margin-left: -16px;
}

.divnnaccount-label {
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
}

.divnnaccount-inputsign {
    border: none;
    border-bottom: 1px solid var(--row-color);
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1em;
    outline: none;
    transition: .7s background-color;
}

.divnnaccount-termsconditions-rememberme-frgtpassword {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 0px 3px;
}

.divnnaccount-termsconditions-rememberme-frgtpassword-paragraph {
    font-family: "Source Sans 3", sans-serif;
    font-size: .95em;
}

.divnnaccount-button {
    background-color: var(--color2-hover);
    border: none;
    margin-top: 15px;
    margin-inline: 30px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 300;
    padding-block: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.divnnaccount-paragraph {
    align-self: center;
    margin-top: 20px;
    font-family: "Source Sans 3", sans-serif;
}

.divnnaccount-paragraph-link {
    text-decoration: none;
    font-weight: 500;
}

.main-sign-in {
    justify-content: center;
}

.divnnaccount-sign-in {
    max-width: 420px;
    align-self: center;
    padding: 40px 53px;
}

.divnnaccount-title-sign-in {
    margin-bottom: 60px;
}

.divnnaccount-rememberme-box {
    display: flex;
    flex-direction: row;
    gap: 0px 3px;
}

.divnnaccount-termsconditions-rememberme-frgtpassword-sign-in {
    justify-content: space-between;
}

.divnnaccount-termsconditions-rememberme-frgtpassword-link {
    font-family: "Source Sans 3", sans-serif;
    text-decoration: none;
    font-size: .95em;
}

.divnnaccount-button-sign-in {
    margin-top: 50px;
}

@media (max-width: 1200px) {
    main {
        margin-inline: 0;
        justify-content: center;
    }
    
    .divtext {
        display: none;
    }

    .divnnaccount {
        width: 100vw;
        max-width: 406px;
    }
}

@media (max-width: 520px) {
    main {
        justify-content: center;
        background-color: white;
    }

    .divnnaccount {
        border-radius: 0px;
        box-shadow: none;
        padding: 30px 50px;
    }
}

@media (max-height: 520px) {
    .divnnaccount {
        height: 420px;
    }

    .divnnaccount-title {
        margin-bottom: 15px;
    }

    .divnnaccount-inputsign {
        margin: 0px;
        margin-bottom: 10px;
    }
}

@media (max-width: 300px) {
    .divnnaccount {
        padding: 30px 25px;
    }
}
